apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: qa

resources:
  - ../../base
  - external-secret.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/nodeSelector/environment
        value: qa
    target:
      kind: Deployment
      name: APP_NAME
